In [1]:
a='Jo'

In [2]:
b='SH'

In [3]:
c=a+b

In [4]:
c=c*3

In [5]:
c

'JoSHJoSHJoSH'

In [6]:
e='Good Morning'

In [7]:
f=e[5:]

In [8]:
f

'Morning'

In [9]:
g=e[5:][1:3]

In [10]:
g

'or'

In [11]:
"My name is {} and I am {} years old.".format('JoSH', 36)

'My name is JoSH and I am 36 years old.'

In [12]:
h = "Product:%10s Price:%d" %('Apple', 50)

In [13]:
h

'Product:     Apple Price:50'

In [14]:
i = "Product:%-10s Price:%d" %('Apple', 50)

In [15]:
i

'Product:Apple      Price:50'

In [16]:
j = "Price:%10.3f"%(12.121323)

In [17]:
j

'Price:    12.121'

In [18]:
k = "Price:{0:>10s}".format('Apple')

In [19]:
k

'Price:     Apple'

In [20]:
l = "Price:{0:<10.3f}".format(343.232143)

In [21]:
l

'Price:343.232   '

In [22]:
m = {'kim':33, 'lee':24, 'Jo':36}

In [23]:
m['Jo']

36

In [24]:
m['kim'] = 72

In [25]:
m

{'kim': 72, 'lee': 24, 'Jo': 36}

In [26]:
n = {'nudge', 'wink'}

In [27]:
type(n)

set

In [28]:
o = {1, 2, 3}

In [29]:
type(o)

set

In [30]:
s1 = {1,2,3,4,5}

In [31]:
s2 = {3,4,5,6,7}

In [32]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
s1.intersection(s2)

{3, 4, 5}

In [34]:
s1.difference(s2)

{1, 2}

In [35]:
not ''

True

In [36]:
not 'empty?'

False

In [37]:
not []

True

In [38]:
not {}

True

In [39]:
for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [40]:
type(range(0,5,1))

range

In [41]:
dic={'Apple':'www.apple.com', 'Python':'www.python.org'}

In [42]:
for k, v in dic.items():
    print("{}:{}".format(k, v))

Apple:www.apple.com
Python:www.python.org

In [43]:
type(dic.items())

dict_items

In [44]:
type(None)

NoneType

In [45]:
def mul(a, b):
    return a*b

In [46]:
mul(3,5)

15

In [47]:
def print_string(text, cnt=1):
    for i in range(cnt):
        print(text)

In [48]:
print_string('Hi there')

Hi there

In [49]:
def print_personnel(name, position='staff', nationality='Korea'):
    print('name = {0}'.format(name))
    print('position = {0}'.format(position))
    print('nationality = {0}'.format(nationality))

In [50]:
print_personnel(name='JoSH')

name = JoSH
position = staff
nationality = Korea

In [51]:
print_personnel(name='JoSH',nationality='Germany')

name = JoSH
position = staff
nationality = Germany

In [52]:
print_personnel(name='JoSH', nationality='Korea', position='Researcher')

name = JoSH
position = Researcher
nationality = Korea

In [53]:
def merge_string(*text_list):
    result = ''
    for s in text_list:
        result = result + s
    return result

In [54]:
merge_string('JoSH', 'is', 'brilliant!')

'JoSHisbrilliant!'

In [55]:
a = ('JoSH', 'is', 'Fantastic!')

In [56]:
merge_string(*a)

'JoSHisFantastic!'

In [57]:
def print_team(**players):
    for k in players.keys():
        print('{0} = {1}'.format(k,players[k]))

In [58]:
print_team(GK='Lee', FW='Jo', MF='Park')

GK = Lee
FW = Jo
MF = Park

In [59]:
dic = {'GK':'Jo', 'FW':'Lee', 'MF':'Park'}

In [60]:
print_team(**dic)

GK = Jo
FW = Lee
MF = Park

In [61]:
def my_abs(arg):
    if arg < 0:
        return arg *-1
    elif arg > 0:
        return arg

In [62]:
my_abs(-1)

1

In [63]:
res = my_abs(0)

In [64]:
type(res)

NoneType

In [65]:
def print_something(a):
    print(a)

In [66]:
p = print_something

In [67]:
p(3)

3

In [68]:
p('abc')

abc

In [69]:
def plus(a, b):
    return a+b

In [70]:
def minus(a, b):
    return a-b

In [71]:
flist = [plus, minus]

In [72]:
flist[0](3,5)

8

In [73]:
def hello_kor():
    print('안녕하세요!')

In [74]:
def hello_eng():
    print('Hello!')

In [75]:
def greet(hello):
    hello()

In [76]:
greet(hello_kor)

안녕하세요!

In [77]:
greet(hello_eng)

Hello!

In [78]:
def get_greeting(where):
    if where == 'K':
        return hello_kor
    else:
        return hello_eng

In [79]:
hello = get_greeting('K')

In [80]:
hello()

안녕하세요!

In [81]:
class Car:
    def __init__(self):
        self.color = 0xFF0000
        self.wheel_size = 16
        self.displacement = 2000
    def run(self):
        print("Wheel sized {} car is running!".format(self.wheel_size))

In [82]:
car = Car()
car.run()

Wheel sized 16 car is running!

In [83]:
class InstanceVar:
    text_list = []
    def __init__(self):
        #self.text_list = []
        print('call init')
    def add(self, text):
        self.text_list.append(text)
    def print_list(self):
        print(self.text_list)

In [84]:
if __name__=='__main__':
    a = InstanceVar()
    a.add('a')
    a.print_list()
    
    b = InstanceVar()
    b.add('b')
    b.print_list()

call init
['a']
call init
['a', 'b']

In [85]:
class HasPrivate:
    def __init__(self):
        self.public = "Public"
        self.__private = "Private"
    def print_info(self):
        print(self.public)
        print(self.__private)

In [86]:
hp = HasPrivate()
hp.print_info()
hp.public = "NewVal"
hp.__private = "new_val"
hp.print_info()

Public
Private
NewVal
Private

In [87]:
class Parent:
    def __init__(self):
        print("Parent.__init__()")
        self.message = "Hello this is parent."
        
class Child(Parent):
    def __init__(self):
        print("Child.__init__()")
        
        super().__init__()
        
        print("self.message is " + self.message)

In [88]:
if __name__ == '__main__':
    ch = Child()

Child.__init__()
Parent.__init__()
self.message is Hello this is parent.

In [89]:
class MyDeco:
    def __init__(self, f):
        print("Init MyDeco!")
        self.func = f
    def __call__(self):
        print("Start:{0}".format(self.func.__name__))
        self.func()
        print("Finish:{0}".format(self.func.__name__))

In [90]:
@MyDeco
def print_hello():
    print("Hello!")

Init MyDeco!

In [91]:
print_hello()

Start:print_hello
Hello!
Finish:print_hello

In [92]:
def print_hi():
    print("Hi!")
print_hi = MyDeco(print_hi)

Init MyDeco!

In [93]:
print_hi()

Start:print_hi
Hi!
Finish:print_hi

In [94]:
iter = range(3).__iter__()
iter.__next__()

0

In [95]:
iter.__next__()
iter.__next__()

2

In [97]:
res = iter.__next__()

StopIteration:

In [98]:
type(res)

NoneType

In [99]:
class MyRange:
    def __init__(self, begin, end):
        self.curr = begin
        self.end = end
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.curr < self.end:
            curr = self.curr
            self.curr += 1
            return curr
        else:
            raise StopIteration()

In [100]:
for i in MyRange(0, 5):
    print(i)

0
1
2
3
4

In [101]:
colors=['red', 'blue', 'green', 'yellow']
result=''
for s in colors:
    result += s
result

'redbluegreenyellow'

In [102]:
result = ' '.join(colors)
result

'red blue green yellow'

In [103]:
result = ', '.join(colors)
result

'red, blue, green, yellow'

In [104]:
result = '-'.join(colors)
result

'red-blue-green-yellow'

In [105]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
res_if = [i for i in range(10) if i%2==0]
res_if

[0, 2, 4, 6, 8]

In [107]:
res_if2 = [i if i%2==0 else 10 for i in range(10)]
res_if2

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [108]:
word_list1 = "Hello"
word_list2 = "World"
res_for = [i+j for i in word_list1 for j in word_list2]
res_for

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [109]:
len(res_for)

25

In [110]:
res_for_if = [i+j for i in word_list1 for j in word_list2 if not (i==j)]
res_for_if

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'ld',
 'lW',
 'lo',
 'lr',
 'ld',
 'oW',
 'or',
 'ol',
 'od']

In [111]:
len(res_for_if)

22

In [112]:
sentence = "The quick brown fox jumps over the lazy dog".split()
print(sentence)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [113]:
word_mat = [[w.upper(), w.lower(), len(w)] for w in sentence]
word_mat

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [114]:
dic = {i:j for i,j in enumerate("TEAMLAB is an academic institute located in South Korea.".split())}
dic

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea.'}

In [129]:
abc = zip((1,2,3), (10,20,30),(100,200,300))
abc

In [130]:
type(abc)

zip

In [131]:
a, b, c = abc

In [132]:
zip_list = [sum(x) for x in abc]
zip_list

[]

In [133]:
type(abc)

zip

In [134]:
zip_list = [sum(x) for x in (a,b,c)]
zip_list

[111, 222, 333]

In [135]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a,b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [139]:
ex = [1,2,3,4,5]
f = lambda x:x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [142]:
f = lambda x,y:x+y
print(list(map(f,ex,ex)))

[2, 4, 6, 8, 10]

In [143]:
from functools import reduce
print(reduce(f,ex))

15